* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ************ *********************/
footer {
  background-color: #04293A;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* redes */ }
  footer .letra-chica {
    color: #edf2f4;
    text-align: right;
    font-size: 16px;
    padding: 1rem; }
  footer .redes {
    min-width: 200px;
    display: flex;
    justify-content: space-around; }
    footer .redes a {
      background-color: #edf2f4;
      border-radius: 50%;
      color: #d90429;
      font-size: 23px;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      transition: all .4s ease-in-out;
      width: 30px;
      height: 30px; }
    footer .redes a:hover {
      background-color: #d90429;
      color: #edf2f4;
      font-size: 30px; }
