*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ******************* BODY *********************/
body{
    font-family: 'Inter', sans-serif;
}


/* ******************* HEADER *********************/

header{
    background-color: #04293A;
    
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    align-items: center;
 
}


.container img{
    border-radius: 10px;
    width: 100px;
    height: 80px;
}


#menu, #menu-check {
    display: none;
} 

header ul{
    display: flex;
    gap: 25px;
    width: 10%;
    margin: 30px 100px 0 0;
    
}
header a{
    
    color: #edf2f4;
    font-size: 16px;
    transition: all .4s ease-in-out;
    text-decoration: none
    
}
header a:hover {
    background-color: #edf2f4;
    border-radius: 5px;
    color: #d90429;
    font-size: 18px;
    padding: 4px;
    
}

header input.bus{
    width: 20vw;
    height: 3vh;
    border-radius: 10px;
}
header button.sub{
    color: #edf2f4;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 10px ;
    transition: all .4s ease-in-out;   
}




/* ******************* MAIN *********************/

main{
    border: #04293A solid 2px;
    background-color: #edf2f4;
    text-align: center;
}

/* ******BANNER****** */

.banner h1{
    display: flex;
    flex-direction: column;   
    text-align: center;
    color: #1E2A78;
    font-weight: bold;
       
} 
.banner img{
    width: 95%;
    border-radius: 30px;
    height: 80vh;
    border-top:#d90429 solid ;
    border-bottom: #d90429 solid;
}
.banner p{
    font-size: 18px;
    color: #1E2A78;
    text-align: justify;
    padding-top: 30px;
    margin: 50px;
}

/*** * menu***/ 

.menu{
    display: flex;
    flex-direction: row;
    gap: 15px;  
    margin-left: 0;
    
}
li{
    font-weight: bold;
    list-style-type: none;
    border-radius: 20px;
    
} 
nav ul{
    border-radius: 2px;
} 
.menu  img{
    width: 15vw;
    height: 20vh;
    border-radius: 50px;
   
}
.menu a{
    text-decoration: none;
    color: #432C7A;
    font-size: 20px; 
    transition: all .4s ease-in-out;
} 
.menu a:hover {
    font-size: 25px;
    
  
}


/* estilo original de section video */

.video h4{
    color: #432C7A;
    font-weight: bold;
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe{
    width: 60vw;
    height: 60vh;
    margin: 20px;
}
.boton{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
button{
    margin-top: 20px;
    background-color: #d90429;
    padding: 7px 30px;
    border-radius: 25px;  
  
}
button a{
    color: #FCE2DB;
}

                    /* Productos */
.texto {
    display: flex;  
    justify-content: center;  
    padding: 50px;  
}
.producto img{
    width: 60vw;
    height: 60vh;
    margin-inline: 90px;
    border: solid #d90429;
    border-radius: 20px;
}

.producto h1{
    color: #432C7A;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
}
.producto p{
    color: #432C7A;
    font-weight: bold;
    line-height: 30px;
    text-align: justify;
    display: flex; 
    width: 40vw;  
    
}

                    /* Nosotros */
.nosotros{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.nosotros, h1, p{
    color: #432C7A;
    margin-top: 10px;
    flex-wrap: wrap;
}
h1{
    font-weight: bold;
    padding-left: 30px;
    text-align: justify;
} 
.nosotros p{
    margin: 20px;
    width: 50vw;
}


.nosotros div p{
     line-height: 30px;
     text-align: justify;
     
 }


                     /* Contacto */     
.contacto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;  
    
}

.contacto img{
    border-radius: 20px;
    width: 4rem;
    height: 4rem;
    
}
/* .formu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;  
} */
#descrip, [placeholder]{
    color: #ffffffe8;
    font-size: 18px;   
    padding: 16px;
}
#nombre, #correo, #dni, #pass, #fecha, #descrip, #telefono{
    border: none;
    border-radius: 10px;
    margin: 15px 23px 20px;
    height: 5vh;
    width: 50vw; 
}
#correo{
    width: 30vw; 
    height: 5vh;
}
#dni, #pass, #fecha, #descrip, #telefono{
    height: 5vh;
    width: 30vw;
}
#descrip{
    height: 20vh;
    width: 60vw;
}
.escoge{
    display: flex;
    flex-direction: column;   
}
input[type=checkbox], [type=radio]{
    margin: 7px;
    height: 5vh;
    width: 5vw;
}
legend, label, .pro, .tipo{
    color: #432C7A;
}


                    /* Promociones*/ 

                    
.promo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
.promo1, .promo2, .promo3{
    font-size: 16px;
    display: flex;
    flex-direction: column;
}    
.promo img{
    border-radius: 20px;
    width: 20vw;
    height: 40vh; 
}
.promo img:hover{
    width: 25vw;
    border: #432C7A solid 2px;
}
.promo h1{
    color: #432C7A;
    font-size: 18px;
    width: 20vw;
    
}
.promo p{ 
    color: #432C7A;
    line-height: 18px; 
    text-align: justify;
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
}                  




/* ******************* FOOTER *********************/
/* footer{
    background-color: #2b2d42;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.letra-chica{
    color: #FCE2DB;
    text-align: right;
    font-size: 16px;
    padding: 1rem;
    
}


/* redes */
/* 
.redes{
    min-width: 200px;
    display: flex;
    justify-content: space-around;

}
.redes a{
    background-color:#edf2f4;
    border-radius: 50%;
    color:#d90429;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    transition: all .4s ease-in-out;
    width: 30px;
    height: 30px;
   }
.redes a:hover{
    background-color: #d90429;
    color: #edf2f4;
    font-size: 30px;
 
   } */


 



/* ===================aplicando @media============================= */

@media screen and (max-width: 576px){
   
        body{
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            line-height: 1.3;
            width: auto;
            height: auto;
            padding: auto;
        }
        header{
            height: 100px;
        }

        header.container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
                      
        }
        .container img{
            position: absolute;
            top: 10px;
            right: 10px;
        }
        
        form{
            display: none;
        }
        #menu-check:not(:checked) ~ nav{
            display: none;
            
        }
        #menu-check:checked ~ nav{
            display: block;
        }
        #menu{
            display: block;
            color: #edf2f4;
            background-color: #04293A;
            font-size: 1.7rem;
            text-align: center;
            font-weight: bold;
            border: 03px solid #edf2f4;
            width: 10vw;
            border-radius: 0.3em;
            position: absolute;
            /* right: 0.5em; */
            top: 2rem;
            z-index: 999;
            /* margin-top: 10px; */
            /* margin-right: 45px; */
            
            
        }
        #menu:hover{
            /* margin-right: 45px;  */
            color:#04293A;
            background-color: #edf2f4;
            
        }
        #menu-cerrar{
            display: none;
            
        }
        #menu-check:checked ~ label #menu-abrir{
            display: none;
        }
        #menu-check:checked ~ label #menu-cerrar{
            display: block;
        }

        .container nav{
            /* margin-right: 50px;  */
            /* position: absolute; */
            /* top: 0; */
            /* right: 0px; */
            /* left: 300px; */
            width: 275px;
            height: 45%;
            background-color: #04293A;
            padding-top: 2.5em;
            padding-right: 1.5em;
            opacity: 0.8;
            color: #edf2f4;
            z-index: 998;
            
        }

        .container nav ul{
            /* margin-right: 50px;  */
            display: block;
            font-size: 3em;
            

        }

        /* MAIN */

        /* inicio banner */


        .banner img{
            width: 90vw;
            height: 40vh;
        }
        .banner p{
            width: 85vw;
            margin-left: 30px;
        }
        .menu{
            display: flex;
            flex-direction: column;
            width: 100vw;
            align-items: center;
        }
        .menu li{
            display: flex;
            flex-direction: column;
            
        }
        .menu img{
            width: 40vw;

        }
        .video iframe{
            width: 80vw;
            height: 40vh;
        }

        /* productos */
        .producto h1{
            margin: 0%;
        }

        .texto{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            width: 100%;
        }
        .producto img{
            margin-left: 0;
            width: 80vw;
            height: 40vh;
        }
        .producto p{
            margin-left: 0;
            width: 80vw;
            height: 100%;
        }

        /* nosotros */
        .nosotros p{
            padding-right: 30px;
            width: 80vw;
            text-align: center;
        }

        

        /* promociones */

        
        .promo{
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .promo img{
            width: 30vw;
            height: 20vh;
            
        }
        .promo img:hover{
            width: 35vw;
            border: #432C7A solid 1px;
        }
        .promo p{
            line-height: 20px;
            width: 40vw;
            height: 30vh;
            margin-left: 30px;
        }
        .prom1, .prom2, .prom3{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        

          /* contacto */
  
        .formula{
            display: flex;
            justify-content: center;
            
        }
        #nombre{
            height: 5vh;
            width: 80vw;
            margin: 20px;
        }
        #correo{
            height: 5vh;
            width: 70vw;
            margin-left: 40px; 
        }
        #dni, #pass, #fecha, #descrip, #telefono{
            height: 5vh;
            width: 30vw;
            margin: 20px;
        }
        #descrip{
            height: 20vh;
            width: 80vw;
        }
        .escoger{
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            margin-left: 30%;
            
        }
        .tipo{
            margin-top: 20%;
        }
        input[type=checkbox], [type=radio]{
            margin: 7px;
            height: 5vh;
            width: 5vw;
        }
    
           
}

/* aplicando media segun video */

