*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colorAzul: #04293A;
$letrasBlanca: #edf2f4;
$hoverRojo:#d90429;
$letraAzul: #1E2A78;


/* ************ *********************/

// IMPORTANDO PARTIALS
@import "footer";

// ********

