


footer{
    background-color: $colorAzul;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    

        .letra-chica{
            color: $letrasBlanca;
            text-align: right;
            font-size: 14px;
            padding: 1rem;
            
            
        }

        .gmail{
            display: flex;
            background-color: $letrasBlanca;
            border-radius: 20px;
            height: 25px;
            align-items: center;
            margin-bottom: 8px;
            p{
                color: $letraAzul;
                padding-inline: 1em;
                font-weight: bold;
                margin-top: 1em;    
            }
        }

        /* redes */

        .redes{
            min-width: 200px;
            display: flex;
            justify-content: space-around;

        
                a{
                    background-color:$letrasBlanca;
                    border-radius: 50%;
                    color:$hoverRojo;
                    font-size: 23px;
                    line-height: 30px;
                    text-align: center;
                    text-decoration: none;
                    transition: all .4s ease-in-out;
                    width: 30px;
                    height: 30px;
                }
                a:hover{
                    background-color:$hoverRojo;
                    color: $letrasBlanca;
                    font-size: 30px;
                
        }
    }
}
            @media screen and (max-width: 576px){
            footer{
                display: flex;
                flex-direction: column;
                height: auto;
                padding: 20px;
                .gmail{
                    margin-top: 20px;
                }
            }
                
            }